actionlib==1.12.1
angles==1.9.12
asn1crypto==0.24.0
bondpy==1.8.5
bottle==0.12.23
camera_calibration==1.15.0
camera_calibration_parsers==1.11.13
catkin==0.7.29
catkin-pkg==0.5.2
certifi==2018.1.18
chardet==3.0.4
colorama==0.4.5
controller_manager==0.18.4
controller_manager_msgs==0.18.4
cryptography==2.1.4
diagnostic_analysis==1.9.7
diagnostic_common_diagnostics==1.9.7
diagnostic_updater==1.9.7
distro==1.6.0
docutils==0.18.1
gazebo_plugins==2.8.7
gazebo_ros==2.8.7
geneus==2.2.6
genlisp==0.4.16
gennodejs==2.0.1
genpy==0.6.16
gnupg==2.3.1
idna==2.6
image_geometry==1.13.0
interactive-markers==1.11.5
joint_state_publisher==1.12.15
kdl-parser-py==1.13.3
keyring==10.6.0
keyrings.alt==3.0
laser_geometry==1.6.7
matplotlib
message_filters==1.14.13
node-semver==0.6.1
numpy
openpyxl
patch-ng==1.17.4
Pillow
pluginbase==1.0.1
psutil==5.9.1
pycairo==1.16.2
pycrypto==2.6.1
pycryptodomex==3.15.0
PyGObject==3.26.1
python-dateutil==2.8.2
python_qt_binding==0.4.4
pytz==2022.2.1
pyxdg==0.25
PyYAML==6.0
qt-dotgraph==0.4.2
qt-gui==0.4.2
qt-gui-cpp==0.4.2
qt-gui-py-common==0.4.2
requests==2.27.1
resource_retriever==1.12.7
SecretStorage==2.3.1
sensor-msgs==1.12.8
six==1.11.0
smach==2.0.1
smach_ros==2.0.1
smclib==1.8.5
ssh-import-id==5.7
topic_tools==1.14.13
tqdm==4.64.0
urdfdom-py==0.4.6
urllib3==1.26.12
scipy